
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

<mat-card class="card">
    <mat-card-header>
        <h1>Test de Formulario</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="formLogin">
            <mat-form-field class="card-inputs">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" 
                     matTooltip="only domain `.com`"
                     placeholder="Ex. pat@example.com">
              <mat-error >
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="card-inputs">
                <mat-label>Password</mat-label>
                <input type="text" matInput formControlName="pass"
                       matTooltip="Min, 6.characters" 
                       placeholder="Min, 6.characters">
                <mat-error >
                  Key is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-footer>
             <button id="button" class="card-button" matTooltip="Sends the form" mat-raised-button color="warn" [disabled]="formLogin.invalid" (click)="enviar()">Enviar</button>
    </mat-card-footer>
</mat-card>
